<html>
<head>
<title>CSC 561</title>
<style>
.blog{
    border: 2px solid grey;
    border-radius: 8px;
    margin: 5px;
    background-color: grey; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, lightgrey , white);
}
</style>
</head>
<body>
